<div class="sticky-bottom">
  <div class="container text-muted text-end">
    <span class="fst-italic">&copy; Some Guy&trade;</span>
    <span class="fw-normal"> S/W Productions</span>
  </div>
</div>
