<header class ="container-fluid group">
  <div class= "myjumbotron">
    <div class="myhero">Alpha Blog</div>
    <div class="myhero-sm motto">You Say It.<br>We Spray It.</div>
    <%= link_to "Sign up!", signup_path, class: "btn btn-signup btn-lg" %>
  </div>
</header>












